<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dabeloper.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.TabActivity" />
        <activity
            android:name=".activity.PeopleActivity"
            android:label="@string/title_activity_persons"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RESTVolleyActivity"
            android:label="@string/title_activity_restvolley"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RESTVolleyBNAVActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:label="@string/title_activity_restvolley_bnav"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>